
.container {
  background-image: linear-gradient(
    to right bottom,
    #5c434b,
    #9e5652,
    #cc783d,
    #d4ad0a,
    #a8eb12
);
font-family: verdana;
}

.sidebar {
  width: 48%;
  float: right;
  background-color: #728EC2;

}
.sidebar2 {
  width: 48%;
  float: left;
  background-color: #51678E;

}
.container{
background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}
